.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.countries {
  padding: 0.5em 0;
  grid-template-columns: minmax(auto, 100%);
  display: grid;
  justify-content: center;
}

.countries div.item {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1em;
}

.countries div.item .card {
  flex-direction: column;
  justify-content: space-between;
  padding: 0.7em;
  border-radius: 5px;
  border: 1px solid lightgray;
  display: flex;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: ease box-shadow 0.3s;
  width: 200px;
  gap: 10px;
}

.countries div.item .card img {
  width: 200px;
  height: auto;
  border: 1px solid lightgray;
}
.countries div.item .card .details {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}

.countries div.item .card .details strong {
  margin-right: 5px;
}
